.tile {
  width: 750px;
  text-align: left;
  margin: 0 auto 30px;
  font-size: 12px;
}

.tile p span {
  font-weight: bold;
}

.rating {
  margin: 10px 0;
}

.accommodation {
  display: inline
}
.accommodation,
.arrival,
.departure-location {
  margin: 5px 0;
}

.hotel-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.hotel-name,
.overview-title {
  margin: 10px 0;
  color: #17317F;
  font-size: 18px;
}

.hotel-details {
  margin: 20px 0;
}

.overview-title {
  padding-bottom: 20px;
}

.hotel-location {
  color: #C0C0C0;
  margin-top: 0;
}

.hotel-image--container {
  position: relative;
  width: 550px;
  text-align: left;
  display: block;
  background-color: #fff;
}

.hotel-image--overlay {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 10px;
  color: #17317F;
}

.hotel-image {
  width: 100%;
  /* height: auto; */
  /* max-height: 450px; */
  margin-bottom: -3px;
}

.hotel-info--container {
  width: 200px;
  padding: 10px;
  display: block;
  background-color: #fff;
}

.hotel-description {
  text-align: left;
  padding: 20px 10px;
  background-color: #fff;

}
