.tile {
  width: 650px;
  text-align: left;
  margin: 0 auto;
}

.hotel-feature {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  /* align-items: center;
  margin-bottom: 1rem; */
  width: 650px;
}

.hotel-image--container {
  width: 450px;
  text-align: left;
}

.hotel-image {
  width: 100%;
  height: auto;
  max-height: 450px;
}

.hotel-info--container {
  width: 200px;
  padding: 10px;
}

.hotel-description {
  text-align: left;
}