.App {
  background: url('../public/background.png');
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top center;
  padding: 30px;
  display: flex;
  margin: 0 auto;
}

.page-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.list-container {
  margin: 0 auto;
}
